html {
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Courier New';
}

.force {
    color: red;
    font-size: 10px;
}

h2 {
    font-weight: lighter;
}

.blinking {
    animation: blinker 1s step-end infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}